.workList{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    background-color: transparent;
    /* border: 1px solid #5dfc0a; */
    padding-bottom: 2rem;
    height: 13rem;  
    width: 26rem;
    text-align: center; 
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute; 
  backface-visibility: hidden;
  border-radius: 25px;
}

.back {
  background: #1b242f;
  color: #d5d3d2;
  transform: rotateY( 180deg );
}

.back p {
  padding: 1rem;
}

 .workList img {  
    display: block;
    width: 100%;
    height: 100%;
} 


.link-btn {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 8px;
  margin: 5px;
  font-size: 1rem;
  font-weight: 500; 
}
#gh-btn {
  background-color: black;
  color: white;
}

#lv-btn {
  background-color: #04c2c9;
  color: black;
}

#gh-btn:hover {
  border: 1px solid white;
  transition-duration: 0.5s;
}

#lv-btn:hover {
  text-shadow: 1px 1px black;
  transition-duration: 0.5s;
}