.overflow-wrap{
  overflow-x: hidden !important;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: block;
}

body {
  color: #2f2e33;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ecf3f9;
  width: 100%;
  overflow-x: hidden;
}

#contact-page, #footer-page {
  background-color: #2f2e33;
}

h1 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-decoration: underline;
}

@media only screen and (min-width: 980px){
  html, body{
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 980px){
  html, body{
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 600px){
  html, body{
    overflow-x: hidden !important;
  }
}