section{
    color: inherit;
}

.my-info{
    color: #ecf3f9; 
}

.my-info h3{
    color: #04c2c9;
    text-align: center;
    padding: 12px;
    margin: 0;
}

.my-info-table {
    border: 2px solid #04c2c9;
    width: 45%;
    display: inline-block;
    vertical-align: text-top;
    background: #2f2e33;
    margin: 15px;
    padding: 20px;
    text-align: left;
}

.skills img{
    max-width: 100px;
    max-height: 100px;
}   

.skills td {
    vertical-align: text-bottom;
    padding: 10px; 
}

.skill-card {
    border: 1px solid #2f2e33;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 2px 5px 0px #2f2e33;
    padding: 1rem;
}

.table {
    width: 100%;
}

.table p{
    color: #2f2e33;
    font-weight: 500;
}

@media only screen and (min-width: 980px) {
    .my-info-table {
        height: 200px !important;
        width: 40%;
    }
}

@media only screen and (max-width: 980px) {
    .my-info-table {
        height: 333px !important;
        width: 36%;
    }

    .skills {
        max-width: 100%;
    }

    .table td {
        display: inline-block;
        width: 20%;
    }

    #back-end tr td {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .my-info-table {
        height: 333px !important;
        width: 80%;
    }

    .skills {
        max-width: 100%;
    }

    .table td {
        display: inline-block;
        width: 40%;
    }
}